.main-grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  flex: 1 0 calc(25% - 2px);
  border: 1px solid black;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .cell {
    flex: 1 0 calc(50% - 2px);
  }
}

@media (max-width: 640px) {
  .cell {
    flex: 1 0 calc(100% - 2px);
  }
}
